<!DOCTYPE html>
<html>
    <head>
        <title>{$title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" />
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:void(0);">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li php-repeat="$navs as $nav" class="{$nav.title == '首页' ? 'active' : ''}"><a href="javascript:void(0);">{$nav.title}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:void(0);">退出</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">用户 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">我的消息</a></li>
                                <li><a href="javascript:void(0);">我的关注</a></li>
                                <li><a href="javascript:void(0);">我的文章</a></li>
                                <li><a href="javascript:void(0);">个人设置</a></li>
                                <li><a href="javascript:void(0);">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <h1>{$title}</h1>
                <p>
                    此模板引擎针对能够使用angularjs的php开发者编写, 主要特点是 不需要额外的标签定义, 全部使用属性定义, 写好模板文件在IDE格式化代码的时候很整洁, 因为套完的模板文件还是规范的html
                </p>
                <p>
                    注: 一个标签上可以使用多个模板属性, 属性有前后顺序要求, 所以要注意属性的顺序, 在单标签上使用模板属性时一定要使用<code>/></code>结束, 如 <code>&lt;input php-if="$is_download" type="button" value="下载" />, &lt;img php-if="$article['pic']" src="{&dollar;article.pic}" /></code> 等等, 具体可参考后面章节的解析结果
                </p>
                <p>
                    github项目地址: 
                    <a target="_blank" href="https://github.com/php-angular/php-angular">https://github.com/php-angular/php-angular</a> <br />
                    thinkphp5驱动地址: 
                    <a target="_blank" href="https://github.com/php-angular/thinkphp5">https://github.com/php-angular/thinkphp5</a> 
                </p>
                其他框架驱动以后会逐个开发, 请关注: https://github.com/php-angular</p>
                <p>
                    <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/php-angular/php-angular">Git版本库地址</a>
                    <a class="btn btn-primary btn-lg" target="_blank" href="http://kancloud.cn/shuai/php-angular" />在线文档</a>
                </p>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <ul php-init="echo_menu($menus)" php-function="echo_menu($menus)">
                        <li php-repeat="$menus as $menu">
                            {$menu.title}
                            <ul php-if="isset($menu['sub'])" php-call="echo_menu($menu['sub'])"></ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <table class="table table-bordered">
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        <tr php-if="$list" php-repeat="$list as $user">
                            <td>{$user.id}</td>
                            <td>{$user.name}</td>
                            <td>{$user.email}</td>
                            <td>
                                <div php-switch="$user['status']">
                                    <span php-case="1">正常</span>
                                    <span php-case="0">已禁用</span>
                                    <span php-case="-1">已删除</span>
                                </div>
                            </td>
                            <td>
                                <a php-show="$user['status'] === 1" php-after="echo ' '" href="javascript:void(0);" class="btn btn-xs btn-warning">禁用</a>
                                <a php-show="$user['status'] === 0" php-after="echo ' '" href="javascript:void(0);" class="btn btn-xs btn-primary">启用</a>
                                <a php-show="$user['status'] >= 0" php-after="echo ' '" href="javascript:void(0);" class="btn btn-xs btn-danger">删除</a>
                                <a php-show="$user['status'] == -1" php-after="echo ' '" href="javascript:void(0);" class="btn btn-xs btn-primary">恢复</a>
                            </td>
                        </tr>
                        <tr php-else="不存在list的时候, 输出没有数据">
                            <td colspan="3" class="text-center">没有数据</td>
                        </tr>
                    </table>

                    <nav php-show="$pagecount > 1">
                        <ul class="pagination">
                            <li php-show="$p > 1">
                                <a href="{:$page(1)}">首页</a>
                            </li>
                            <li php-show="$p > 1">
                                <a href="{:$page($p - 1)}">上一页</a>
                            </li>
                            <li php-show="$p - 4 > 2">
                                <!-- 这里是 往前十页, 如果第一页显示了, 就隐藏这个'...' 按钮 -->
                                <a href="{:$page($p - 10 < 1 ? 1 : $p - 10)}"><span>...</span></a>
                            </li>
                            <li
                                php-for="$i = $p - 4; $i <= $p + 4; $i++"
                                php-show="$i > 0 && $i <= $pagecount"
                                class="{$p == $i ?= 'disabled'}">
                                <a php-show="$p != $i" href="{:$page($i)}">{$i}</a>
                                <span php-show="$p == $i">{$i}</span>
                            </li>
                            <li php-show="$p + 4 < $pagecount">
                                <!-- 这里是 后十页, 如果最后一页显示了, 就隐藏这个'...' 按钮 -->
                                <a href="{:$page($p + 10 > $pagecount ? $pagecount : $p + 10)}"><span>...</span></a>
                            </li>
                            <li php-show="$p < $pagecount">
                                <a href="{:$page($p + 1)}">下一页</a>
                            </li>
                            <li php-show="$p < $pagecount">
                                <a href="{:$page($pagecount)}">尾页 {$pagecount}</a>
                            </li>
                        </ul>
                    </nav>

                    <php php-if="1">
                        <span>hello</span>
                    </php>

                </div>

            </div>





            <div php-include="bottom"></div>
        </div>

    </body>
</html>
